h1, h2 {
  font-family: 'PT Serif', serif;
  //font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #34495E; //Wet asphalt
}

p {
  font-family: 'PT Serif', serif;
  //color: #34495E; //Wet asphalt
  color: rgb(102, 102, 102);
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  //font-family: 'Montserrat', sans-serif;
  //font-family: "Lato", Helvetica, Arial, sans-serif;

}

body {
  font-family: 'PT Serif', serif;
  -webkit-font-smoothing: antialiased;
}

#main_title {
  font-size: 40px;
  line-height: 200%;
}

.center {
  text-align: center;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 40px;
}

#main_title_highlight {
  font-size: 90px;
  color: #7F8C8D;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

p, ul, li {
  font-size: 16px;
}

code {
  font-family: Verdana, Geneva, sans-serif;
  color: black;
  background-color: #F2F4F9;
}

#main {
  margin-top: 10px;
}

aside {
  font-size: 14px;

  h2 {
    font-size: 14px;
    font-weight: 700;
  }

  li {
    font-size: 14px;
  }

  ul
  {
    list-style-type: none;
    padding: 0 0 0 0;
  }
}

.est-reading-time {
  color: #95A5A6;
  font-size: 14px;
}

.hb-link {
  color: #95A5A6;
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.cheatsheet_category {
  margin-bottom: 10px;
}

.cheatsheet {
  h1 {
    margin-bottom: 40px;
  }

  h3 {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 0 0;
    color: #2980B9;
  }
  font-size: 16px;
  p {
    font-size: 16px;
  }

}

p > img {
  margin-top: 20px;
  margin-bottom: 20px;
}

#site_brand {
  padding-left: 6px;
  margin: 0;
  font-variant: small-caps;
  text-transform: lowercase;
}

.navbar-brand {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.navbar .logo {
  //color: #1ABC9C;
  background: url('/images/firstofficer_logo_inverse.svg');
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 20px;
  padding-left: 50px;
  margin-right: 0px;
  padding-right: 0px;
  font-weight: normal;
  font-size: 18px;
  //padding: 1em 2em 1em 0.5em;
  color: rgb(26, 188, 156);
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  font-variant: small-caps;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
  border-radius: 0px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}

.navbar-nav > li > a {
  font-weight: 400;
  font-size: 12px;
}

.footer {
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.jaana {
    border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
}
