p, h1, h2, ul {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #34495E; //Wet asphalt
}

#main_title {
  font-size: 40px;
  line-height: 200%;
}

.center {
  text-align: center;
}

#main_title_highlight {
  font-size: 90px;
  color: #7F8C8D;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

p, ul, li {
  font-size: 16px;
}

p.navbar-text {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

code {
  font-family: Verdana, Geneva, sans-serif;
  color: black;
}

img.toolbar_logo {
  vertical-align: top;
  margin-right: 10px;
}

#main {
  margin-top: 10px;
}

aside {
  font-size: 14px;

  h2 {
    font-size: 14px;
    font-weight: 700;
  }

  li {
    font-size: 14px;
  }

  ul
  {
    list-style-type: none;
    padding: 0 0 0 0;
  }
}

.est-reading-time {
  color: #95A5A6;
  font-size: 14px;
}

.hb-link {
  color: #95A5A6;
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.cheatsheet {
  h1 {
    margin-bottom: 40px;
  }

  h3 {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 0 0;
    color: #2980B9;
  }
  font-size: 16px;
  p {
    font-size: 16px;
  }

}

.footer {
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.jaana {
    border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
}
