---
title: Contact support
date: 2014-09-09
published: true
tags: Support
layout: home
---

<% text = text || '' %>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <br>
    <%= image_tag 'jaana_sep13_small.png', class: 'jaana' %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <h1>Contact support</h1>
    <p>
      Hi, I'm Jaana, the founder and owner of FirstOfficer.io.
      <br><br>
      I'll be happy to help you with any questions or problems.
      <br>
      Just email to <a href="mailto:jaana@firstofficer.io">jaana@firstofficer.io</a>
    </p>
  </div>
</div>
