<% url = url || '' %>
<% text = text || '' %>
<div class='hb-link'>
This article originally appeared in Happy Bootstrapper:
<%= link_to 'Average Revenue Per User – How to use it?', 'http://www.happybootstrapper.com/2014/average-revenue-per-user/' %>
</div>
