<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand toolbar_logo logo" href="http://www.firstofficer.io">FirstOfficer</a>
    <%= link_to '/ Metrics Learning Center', '/index.html', class: 'navbar-brand', id: 'site_brand' %>
  </div>

  <div class="navbar-right">
    <ul class="nav navbar-nav">
      <li>
        <%= link_to 'BLOG', 'http://blog.firstofficer.io' %>
      </li>
      <li>
        <%= link_to 'CONTACT SUPPORT', '/contact-support.html', class: 'navbar-brand' %>
      </li>
    </ul>
  </div>
</nav>
