<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="http://www.firstofficer.io">
      <%= image_tag("first_officer_logo.svg", width: '24px', class: 'toolbar_logo') %>
      FirstOfficer.io
    </a>
  </div>

  <div class="navbar-right">
    <ul class="nav navbar-nav">
      <li>
        <%= link_to 'Learning Center', '/index.html', class: 'navbar-brand' %>
      </li>
      <li>
        <%= link_to 'What is FirstOfficer.io?', 'http://www.firstofficer.io' %>
      </li>
    </ul>
  </div>
</nav>
