<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" id='logo' href="http://www.firstofficer.io">
      <%= image_tag("first_officer_logo.svg", width: '24px', class: 'toolbar_logo') %>
      FirstOfficer
    </a>
  </div>

  <div class="navbar-right">
    <ul class="nav navbar-nav">
      <li>
        <%= link_to 'APP', 'http://www.firstofficer.io', class: 'navbar-brand' %>
      </li>
      <li>
        <%= link_to 'BLOG', 'http://blog.firstofficer.io' %>
      </li>
      <li>
        <%= link_to 'CONTACT SUPPORT', '/contact-support.html', class: 'navbar-brand' %>
      </li>
    </ul>
  </div>
</nav>
