<aside>
  <% blog.tags.sort.each do |tag, articles| %>
  <h2><%= "#{tag}" %></h2>
  <ul>
    <% articles.each do |story| %>
    <li>
      <%= link_to story.title, story %>
    </li>
    <% end %>
  </ul>
  <% end %>
</aside>
